:root {
  --primary-color: #000;
  --secondary-color: #fff;
  --max-width: 1200px;
}

/* reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

a {
  text-decoration: none;
  color: var(--secondary-color);
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* utility */
.container {
  max-width: var(--max-width);
  margin: auto;
  padding: 0 1.5rem;
  overflow: hidden;
}

.grid-container {
  display: grid;
  grid-template-columns: 3fr 10fr;
  height: 100vh;
}

/* sidebar */
#sidebar {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  padding: 3rem 5rem 3rem 2rem;
}

#sidebar > * {
  display: grid;
  height: 100%;
  align-items: center;
}

#sidebar .logo {
  grid-row: 1 / 2;
}

#sidebar #main-nav {
  grid-row: 2 / 4;
}

/* content */
#content {
  background: var(--secondary-color);
}
